.slide {
    height: 100%;
    padding: 2.4rem;
    box-sizing: border-box;
    font-size: 2.4rem;
}

.theme_light {
    background-color: whitesmoke;
    color: slategray;
}

.theme_dark {
    background-color: #333;
    color: whitesmoke;
}

.example {
    font-weight: bold;
}